@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.paginate{
    display: flex;
    align-items: center;
    justify-content: end;
}
.paginate li {
    width: 30px;
    height: 30px;
    border: 1px solid #9f9f9f;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}