@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'balkind', sans-serif;
    font-weight: bold;
    color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.navright {
    display: compact;

}

.bgimage {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.25)), url(../public/assets/sea.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 85%;
}

.datepicker {
    background-color: rgba(255, 255, 255, 0);
    opacity: 75%;
    color: white;
}

.line {
    border-bottom: 1px solid #888;
}

.buttongo {
    border: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 50rem;
}
.buttongo:hover {
    border: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 50rem;
}

.paginate {
    display: flex;
    align-items: center;
    justify-content: end;
}

.paginate li {
    width: 30px;
    height: 30px;
    border: 1px solid #9f9f9f;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.background-footer {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(105, 105, 105, 0.05) 10%);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}

.react-datepicker__input-container input::placeholder {
    width: 50px;
    text-decoration-color: white;
    color: white;
    margin: auto;
}

.react-datepicker__input-container input {
    background-color: transparent;
    width: 200px;
    font-size: 15px;
    margin: auto;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .react-datepicker__input-container input {
        font-size: 17px;
        width: 205px;
        text-align: -webkit-center;
    }

    .rooms {
        font-size: 17px;
    }
}

.rooms {
    font-size: 17px;
}

@media screen and (max-width: 1000px) {
    .roomButton {
        transform: scale(0.7);
        margin-top: 75px;
        margin-left: -30px;
    }
}

.sc-bxivhb span {
    display: none;
    overflow-anchor: none;
    margin: 0;
    padding: 0;
}

.sc-bxivhb::-webkit-scrollbar {
    display: none;
    overflow-anchor: none;
    margin: 0;
    padding: 0;
}

.sc-bxivhb {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-anchor: none;
    margin: auto;
    padding: 0;
    text-align: center;
    text-align-all: center;
    display: block;
}

.wheelpicker ul {
    padding: 0;
    margin: 0;
}

.diFZYU {
    font-size: 20px !important;
    padding: 0 !important;
    margin: auto !important;
    margin-top: 10% !important;

}